## ABBAS Project

Step by step walkthrough the code to make predictions based on semantic similarity and a clustering algorithm

The following function is used to load the data in python. This function is abble to read both csv files deliminated by a comma (,) as well as csv files deliminated by a (;). Also, you can read in multiple files at once, which will all be saved within the same pandas dataframe. 

There are two conditions:
- All csv files need to be stored in one map (such as Brick-01)
- you must set the file path as a glob (see example with Brich-01)

In [163]:
import pandas as pd
import glob

def ReadFiles(file_path):
    df = pd.DataFrame([])

    for filename in file_path:
        condition = pd.read_csv(filename, encoding = 'latin-1', nrows = 1)
        
        if len(condition.columns) == 1:
            data = df.append(pd.read_csv(filename, encoding = 'latin-1', sep = ';'))
        else:
            data = df.append(pd.read_csv(filename, encoding = 'latin-1'))
        data.append(d)
    return data

With this function we are now able to read all files from rater one and two for the brick data in two lines of code (by setting the filepath and running the function):

In [164]:
# Data from rater one
file_path_rater01 = glob.glob('Brick-01/**/*.csv', recursive = True)
data_rater01      = ReadFiles(file_path_rater01)
# Data from rater two
file_path_rater02 = glob.glob('Brick-02/**/*.csv', recursive = True)
data_rater02      = ReadFiles(file_path_rater02)

In [165]:
data_rater01

,research_id,response_id,respondent_id,object,original_response,cleaned_response,originality_rater01
0,MBdata01.6,89,43007,brick,aaien,aaien,2
1,MBdata01.6,858,43087,brick,als aangeeflijn waar je mag lopen,aangeeflijn waar mag lopen,2
2,MBdata01.6,2139,43234,brick,aanrecht,aanrecht,2
3,MBdata01.6,2267,43246,brick,aanrecht maken,aanrecht,2
4,MBdata01.6,415,43045,brick,aanstampen,aanstampen,2
...,...,...,...,...,...,...,...
2675,MBdata01.6,1512,43163,brick,zwaartekracht testen,zwaartekracht testen,2
2676,MBdata01.6,2595,43284,brick,Zwaartekracht uitleggen,zwaartekracht uitleggen,2
2677,MBdata01.6,31,43003,brick,zwembad bouwen,zwembad bouwen,2
2678,MBdata01.6,686,43073,brick,in een zwembad gooien,zwembad gooien,2
2679,MBdata01.6,350,43038,brick,om een zwembad mee vast te zetten,zwembad vast zetten,2

In [162]:
glob.glob('Brick-01/**/*.csv', recursive = True)

['Brick-01/MB_data01.3_brick_scored_rater01.csv',
 'Brick-01/EC_one2014_brick_scored_rater01.csv',
 'Brick-01/CES_tz2019_brick_creascored_rater01.csv',
 'Brick-01/CES_bp2017_brick_creascored_rater01.csv',
 'Brick-01/CES_tz2016_brick_creascored_rater01.csv',
 'Brick-01/CES_bp2016_brick_creascored_rater01.csv',
 'Brick-01/MB_data01.2_brick_scored_rater01.csv',
 'Brick-01/MB_data01.5_brick_scored_rater01.csv',
 'Brick-01/MB_data2017_brick_scored_rater01.csv',
 'Brick-01/CES_tz2017_brick_creascored_rater01.csv',
 'Brick-01/MB_bfm2016_brick_scored_rater01.csv',
 'Brick-01/MB_data01.1_brick_scored_rater01.csv',
 'Brick-01/MB_data01.6_brick_scored_rater01.csv']

In [149]:
pd.read_csv('Brick-02/MB_data01.6_brick_scored_rater02.csv', encoding = 'latin-1', sep = ';')

,research_id,response_id,respondent_id,object,original_response,cleaned_response,originality_rater02
0,MBdata01.6,89,43007,brick,aaien,aaien,0
1,MBdata01.6,858,43087,brick,als aangeeflijn waar je mag lopen,aangeeflijn waar mag lopen,0
2,MBdata01.6,2139,43234,brick,aanrecht,aanrecht,0
3,MBdata01.6,2267,43246,brick,aanrecht maken,aanrecht,0
4,MBdata01.6,415,43045,brick,aanstampen,aanstampen,0
...,...,...,...,...,...,...,...
2675,MBdata01.6,1512,43163,brick,zwaartekracht testen,zwaartekracht testen,0
2676,MBdata01.6,2595,43284,brick,Zwaartekracht uitleggen,zwaartekracht uitleggen,0
2677,MBdata01.6,31,43003,brick,zwembad bouwen,zwembad bouwen,0
2678,MBdata01.6,686,43073,brick,in een zwembad gooien,zwembad gooien,0
2679,MBdata01.6,350,43038,brick,om een zwembad mee vast te zetten,zwembad vast zetten,0